@import "tailwindcss";

@view-transition {
    navigation: auto;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

ul {
  @apply list-inside [&>*]:my-0.5 px-2 py-0.5
}

ol {
  @apply list-decimal list-inside [&>*]:my-0.5 px-2 py-0.5
}

ul li::marker {
  content: '- '
}

li ul li::marker {
  content: '> '
}

li ul li ul li::marker {
  content: '* '
}

li ul {
  @apply ml-4;
}

b {
  @apply font-medium
}

main {
    view-transition-name: main;
}

::view-transition-group(main){
  animation-duration: 200ms;
}

::view-transition-old(main) {
  animation-name: fade-out;
}

::view-transition-new(main) {
  animation-name: fade-in;
}

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@property --gradient-percentage1 {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@property --gradient-percentage2 {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@property --gradient-percentage3 {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@property --gradient-percentage4 {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@keyframes menu-anim {
    0% {
        transition-duration: 0;
        left: -100%
    }

    1% {
        transition-duration: inherit;
    }

    50% {
        left: 1%
    }

    75% {
        left: -1%
    }

    90% {
        left: 0.5%
    }

    100% {
        left: 0%
    }
}

@keyframes gradient-angle {
    to {
        --gradient-angle: 360deg
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(4deg)
    }

    25% {
        transform: rotate(-4deg)
    }

    40% {
        transform: rotate(2deg)
    }

    55% {
        transform: rotate(-2deg)
    }

    70% {
        transform: rotate(1deg)
    }

    85% {
        transform: rotate(-1deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes gradient-percentage {
    0% {
        --gradient-percentage1: 0%;
        --gradient-percentage2: 20%;
        --gradient-percentage3: 80%;
        --gradient-percentage4: 100%;
    }

    100% {
        --gradient-percentage1: 100%;
        --gradient-percentage2: 120%;
        --gradient-percentage3: 180%;
        --gradient-percentage4: 200%;
    }
}

@media (max-width: 40rem) {
    :root {
        --menu-anim-duration: 250ms
    }
}

@media (min-width: 40rem) {
    :root {
        --menu-anim-duration: 300ms
    }
}

@media (max-width: 64rem) {

    #menu-checkbox:not(:checked)~#menu-button>div>#burger,
    #menu-checkbox:checked~#menu-button>div>#x {
        left: 0;
    }

    #menu-checkbox:not(:checked)~#menu-button>div>#x,
    #menu-checkbox:checked~#menu-button>div>#burger {
        left: -100%;
    }

    #menu-checkbox:not(:checked)~nav>#menu-wrap>div>#menu {
        left: 100%;
    }

    #menu-checkbox:checked~nav>#menu-wrap>div>#menu {
        animation: menu-anim 350ms ease-in-out
    }

    #menu-checkbox:checked~#blocker {
        opacity: 1;
        pointer-events: auto;
    }
}

.copy-content {
  @apply px-1 break-all transition-colors border-2 rounded-sm cursor-pointer border-slate-400 bg-slate-200;
}

.text-border {
    text-shadow:
        -1px -1px var(--text-border-color),
        -1px 1px var(--text-border-color),
        1px -1px var(--text-border-color),
        1px 1px var(--text-border-color),
        -2px 0px var(--text-border-color),
        0px -2px var(--text-border-color),
        2px 0px var(--text-border-color),
        0px 2px var(--text-border-color);
}

.text-border-light {
    text-shadow:
        -1px -1px var(--text-border-color),
        -1px 1px var(--text-border-color),
        1px -1px var(--text-border-color),
        1px 1px var(--text-border-color);
}

.sliding-bg {
    animation: gradient-percentage var(--time) linear infinite;
    background-image: repeating-linear-gradient(var(--angle),
            var(--bg-1) var(--gradient-percentage1),
            var(--bg-1) var(--gradient-percentage2),
            var(--bg-2),
            var(--bg-1) var(--gradient-percentage3),
            var(--bg-1) var(--gradient-percentage4))
}

.rotating-bg {
    animation: gradient-angle var(--time) linear infinite;
    background-image: linear-gradient(var(--gradient-angle), var(--bg-1), var(--bg-2));
}

.wpcf7-form {
  @apply flex flex-col w-full gap-4 p-2 border-2 md:p-4 sm:w-fit border-sky-300 bg-sky-200 rounded-xl;
}

.wpcf7-form button[type=submit] {
  @apply w-full py-2 text-lg md:text-xl font-bold transition border-2 rounded-md shadow-xl cursor-pointer text-cyan-800 bg-emerald-200 border-emerald-400 hover:shadow-green-500/40 focus:shadow-green-500/40 focus:[&>span]:scale-110 hover:[&>span]:scale-110
}

.wpcf7-form button[type=submit] span {
  @apply block transition
}

.control-div.valid-control {
  @apply border-green-500
}

.control-div.invalid-control {
  @apply border-amber-500
}

.wpcf7-radio label {
  @apply cursor-pointer has-[input:focus]:outline-cyan-500 outline-2 outline-transparent rounded-sm px-1;
}

.wpcf7-radio input {
  @apply py-0.5 px-1 bg-blue-100 border-2 border-transparent focus:border-cyan-500 caret-sky-800 cursor-pointer;
}

.wpcf7-radio > span.wpcf7-list-item {
  @apply m-0
}

.wpcf7-form-control {
  @apply flex gap-4;
}

.wpcf7-text {
  @apply py-0.5 px-1 bg-blue-100 rounded-sm focus:outline-cyan-500 outline-2 outline-blue-300 caret-sky-800;
}

.wpcf7-date {
  @apply py-0.5 px-1 bg-blue-100 rounded-sm focus:outline-cyan-500 outline-2 outline-blue-300 caret-sky-800;
}

.wpcf7-select {
  @apply py-0.5 px-1 bg-blue-100 rounded-sm cursor-pointer focus:outline-cyan-500 outline-2 outline-blue-300 caret-sky-800;
}

.wpcf7-file {
  @apply py-0.5 px-1 bg-blue-100 rounded-sm cursor-pointer file:bg-sky-300 file:rounded-sm file:my-1 file:px-1 file:py-0.5 focus:outline-cyan-500 outline-2 outline-blue-300 file:font-medium;
}

.wpcf7-textarea {
  @apply py-0.5 px-1 bg-blue-100 rounded-sm focus:outline-cyan-500 outline-2 outline-blue-300 caret-sky-800;
}

.wpcf7-text,
.wpcf7-select,
.wpcf7-file,
.wpcf7-textarea,
.wpcf7-date {
  @apply w-full;
}

.control-div {
  @apply flex flex-col gap-2 px-2 pt-1 pb-2.5 border-2 rounded-md border-slate-500 bg-slate-200;
}

.control-title {
 @apply text-lg font-medium md:text-xl text-mauve-600;
}

.control-required {
  @apply text-xl font-bold text-red-500 md:text-2xl leading-1;
}

.colored-list {
  @apply [&>li]:my-4 [&>li]:[&>span]:bg-[var(--list-color)] [&>li]:[&>span]:px-1 [&>li]:[&>span]:py-0.5 [&>li]:[&>span]:rounded-md [&>li]:[&>span]:font-semibold;
}

.training {
  @apply px-2 py-1 text-lg border-2 rounded-md bg-emerald-100 border-emerald-300;
}

.training-header {
  @apply font-medium text-xl mb-1
}

.training-start-date {
  @apply text-white bg-lime-600 px-1.5 py-0.5 rounded-sm w-fit font-medium my-1;
}

.training-no-start-date {
  @apply font-medium text-blue-700;
}

.instructor {
  @apply flex flex-col w-full;
}

.instructor-name {
  @apply px-2 border-b-2 border-blue-400 rounded-t-lg bg-cyan-300 md:text-nowrap;
}

.instructor-titles {
  @apply px-2 rounded-b-lg bg-cyan-200 text-emerald-950;
}

.instructor-group {
  @apply flex flex-col w-full gap-4 sm:flex-row;
}

.crt-day {
  @apply py-1 pl-2 pr-1 text-indigo-900;
}

.crt-time {
  @apply py-1 pr-2 text-green-900;
}

.crt-table {
  @apply font-medium bg-teal-100 rounded-xl;
}

.grecaptcha-badge {
  display: none !important;
}

#tinymce {
  @apply p-1
}